.userCab {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 5%;
  align-items: center;
}

.formPass {
  margin-top: 5%;
}

.ordersList{
  margin-top: 80px;
}

.ordersListTitle {
  margin-bottom: 35px;
}