.modal_wrapper{
  z-index: 3;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: black(0,0,0, .2);
  backdrop-filter: blur(10px);
}
.modal_wrapper.open{
  height: 100%;
  display: block;
}
.modal_wrapper.close{
  height: 0;
  display: none;
}
.modal_body{
  width: 90%;
  margin: auto;
  background-color: white !important;
  margin-top: 10%;
  padding: 50px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center
}
.modal_close{
  width: 100%;
  text-align: right;
  margin-top: -30px;
  font-size: 40px;
  color: gray;
  cursor: pointer;
}

form {
  width: 25vw;
}

.modal_button {
  margin-top: 20px;
  background-color: rgb(65, 58, 58) !important;
}
